*build
build_et
src/externals
src/frontend/tests
src/tests
.vscode
*libtorch
*DS_Store*
src/docs
*.ts
dist/
*.egg-info*
externals
help
__pycache__

docs

.claude/settings.local.json

new-tokenizer

releases

logs